# Auto detect text files and perform LF normalization
* text=auto
*.blend filter=lfs diff=lfs merge=lfs -text
Assets/LFS/ filter=lfs diff=lfs merge=lfs -text
Assets/LFS/arm.blend filter=lfs diff=lfs merge=lfs -text
Assets/LFS/untitled.blend filter=lfs diff=lfs merge=lfs -text
Assets/LFS/weapon.blend filter=lfs diff=lfs merge=lfs -text
Assets/LFS/withArm.blend filter=lfs diff=lfs merge=lfs -text
Assets/LFS/arm.blend1 filter=lfs diff=lfs merge=lfs -text
Assets/LFS/chassis_no_plow.blend1 filter=lfs diff=lfs merge=lfs -text
Assets/LFS/weapon.blend1 filter=lfs diff=lfs merge=lfs -text
Assets/LFS/withArm.blend1 filter=lfs diff=lfs merge=lfs -text
